* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: aquamarine;
  font-size: 1.3rem;
  font-family: 'Comic Sans MS', cursive;
}

.box-form {
  width: 35%;
  margin: 0 auto;
}

.box-form fieldset {
  margin: 20px;
  padding: 0 20px 20px;
}

.box-form input {
  font: 1rem cursive;
  padding: 3px;
}

.box-name,
.box-email,
.box-password,
.box-confirm-password {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  margin-top: 20px;
}

.btn button {
  font: 1.1rem cursive;
  padding: 8px;
  margin-right: 20px;
  background: tan;
  cursor: pointer;
}

.sign-in,
.sign-up {
  display: inline-block;
}